.top {
    width: 100%;
    height: $top-height;
    background-color: $brand-beta;
    position: fixed;
    top: 0;
    left: 0;
}

.top__logo {
    @extend %inline-block;
}

.top__logoauthor {
    @extend %inline-block;

    float: right;
}
