/**
 * Push and pull atoms
 */

/**
 * Pulls
 *
 * When we want to remove margin
 */
.pull--top    { margin-top: -$base-padding; }
.pull--right  { margin-right: -$base-padding; }
.pull--bottom { margin-bottom: -$base-padding; }
.pull--left   { margin-left: -$base-padding; }

/**
 * Pushes
 *
 * When we want to add margin
 */
.push--top    { margin-top: $base-padding; }
.push--right  { margin-right:$base-padding; }
.push--bottom { margin-bottom: $base-padding; }
.push--left   { margin-left   $base-padding; }