/**
 * Color pallete
 */

// Main brand pallete
$brand: #fff;
$brand-bg: #323232;
$brand-beta: #000;
$brand-text: $brand;
$brand-bg: #e2e2e2;

$brand-link: $brand;
$brand-btn-hover: #333333;

$icon-nav: #666;
