/**
 * Color pallete
 */

// Main brand pallete
$brand: #fff;
$brand-bg: #161616;
$brand-beta: #000;
$brand-gamma: #fff;
$brand-text: $brand;

$brand-link: #ed1c24;;
$brand-btn-hover: #333333;

$icon-nav: #666;
