<form class="form" method="POST">
    <div class="form__row">
        <input class="input--text" type="text" name="username" placeholder="Username" />
    </div>
    <div class="form__row">
        <input class="input--text" type="password" name="pswd" placeholder="Password" />
    </div>
    <button class="form__submit" type="submit">Login</button>
</form>
